body {

    color: #202020;

    font-family: 'Poppins', sans-serif;

    font-size: 14px;

    margin: 0;

    overflow-x: hidden;

}



section {

	height: 100vh;
}





/************* HEADER *************/

.box-header {

	width: 200px;

	height: 100px;

	padding: 15px 6px 10px 4px;

}



.box-header p,

.box-header h5,

.header-title {

	margin-bottom: 0;

}



.call-us-free h5 {

	color: #df9b00;

}



.right-box-header h5 {

	color: #1b51a6;

}



.box-header.left-box-header {

    background-color: #1b51a6;

    text-align: right;

}



.box-header.right-box-header {

    background-color: #df9b00;

}



header .navbar {

	background: #247edd !important;

}



header .navbar ul .login {

	color: black !important;

	background-color: #ffffff;

	border-radius: 4px;

}




#navbarSupportedContent {

	justify-content: center;

}



#navbarSupportedContent .navbar-nav {

	max-width: 1400px;

	width: 100%;

	justify-content: space-between;

}



.sticky {

  position: fixed;

  top: 0;

  width: 100%;

  z-index: 100;

}



/************* HEADER *************/


body{
	  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body:-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



/************* START OF HEADER @media (min-width: 1200px) { ... }*************/

@media (min-width: 992px) { 
	.box-header {

		width: 200px;

		height: 100px;

		padding: 15px 6px 10px 4px;

	}



	.box-header p,

	.box-header h5,

	.header-title {

		margin-bottom: 0;

	}



	.call-us-free h5 {

		color: #df9b00;

	}



	.right-box-header h5 {

		color: #1b51a6;

	}



	.box-header.left-box-header {

	    background-color: #1b51a6;

	    text-align: right;

	}



	.box-header.right-box-header {

	    background-color: #df9b00;

	}



	header .navbar {

		background: #247edd !important;
		padding: 10px 50px;

	}



	header .navbar ul .login {

		color: black !important;

		background-color: #ffffff;

		border-radius: 4px;

	}


	.navbar-fag-mobile{
		display: none;
	}


	header .upper-header {

		max-width: 1400px;

		width: 100%;

		padding: 0px 0px !important;

		margin: auto;

	}



	/*********** Start of Rotator ***********/

	.image-rotator {

		max-width: 1400px;

		width: 100%;

		margin: auto;

	    overflow: hidden;

	    display: flex;

	    padding: 0px;

	    flex-direction: row;

	}

	.image-link:hover img {

	    transform: scale(1.1);

	}

	.image-link img {

	  transition: all 0.5s;

	}

	.image-link {

	    position: relative;

	    display: block;

	    text-decoration: none !important;

	    overflow: hidden;

	    border-radius: 6px;

	    margin: 0 2px;

	}

	.image-link::after {

	    content: '';

	    display: block;

	    position: absolute;

	    width: 100%;

	    height: 100%;

	    opacity: 1;

	    top: 0;

	    left: 0;

	    background: linear-gradient(0deg, rgba(27, 27, 27, 0.90) 0%, rgba(255, 255, 255, 0.00) 100%);

	    transition: all .2s ease-out;

	}

	.image-link img {

	    width: 100%;

	}

	.img-rotator-placeholder {

	    position: absolute;

	    top: 70%;

	    width: 100%;

	    text-align: center;

	    color: white;

	    font-size: 17px;

	    z-index: 1;

	}

	.img-rotator-placeholder small {

	    display: block;

	    font-size: 10px;

	}

/*********** End of Rotator ***********/


/*********** Start of .horizontal-button-container ***********/

	.horizontal-button-container {

		max-width: 1400px;

		width: 100%;

		margin: auto;

		padding: 0px;

	}



	.horizontal-button-container div {

		padding: 0;

	}



	.horizontal-button-container div:not(:last-child) {

		padding-right: 10px;

	}



	.horizontal-button-container a {

		font-size: 14px;

		color: white;

		text-align: center;

		text-decoration: none;

		height: 40px;

		width: 100%;

		display: flex;

		justify-content: center;

		align-items: center;

		border-radius: 5px;

	}



	.horizontal-button-container div:nth-child(even) a {

		background-color: #1b51a6;

	}



	.horizontal-button-container div:nth-child(odd) a {

		background-color: #df9b00;

	}

/*********** End of .horizontal-button-container ***********/


/*********** Start of Section 1 ***********/

	.section-1 {

		padding-top: 15px;
		height: 10vh;
	}



	.section-1 .horizontal-btn {

		position: absolute;

		height: 100vh !important;

		width: 70px !important;

		display: flex !important;

		flex-direction: column !important;

		z-index: 90 !important;

		justify-content: space-around !important;

		top: 100px;

		margin-left: -5px !important;

	}



	.section-1 .horizontal-btn a {

		background-color: #df9b00 !important;

		width: 250px !important;

		border-radius: 0 0 8px 8px !important;

		transform: translateX(-40%) rotate(-90deg) !important;

		text-align: center !important;

		padding: 10px 0 !important;

		text-decoration: none !important;

		color: white !important;

		font-size: 12px !important;

	}



	.section-1 .carousel .carousel-inner .carousel-item img {

	    height: 100vh;

	    object-fit: cover;

	    object-position: center;

	}



	.section-1 .carousel .carousel-control {

		padding-top: 100px;

	}



/*********** End of Section 1 ***********/



	#navbarSupportedContent {

		justify-content: center;
		max-width: 1400px;
		margin:auto;
		padding:0px;

	}



	#navbarSupportedContent .navbar-nav {

		max-width: 1400px;

		width: 100%;

		justify-content: space-between;

	}



	.sticky {

	  position: fixed;

	  top: 0;

	  width: 100%;

	  z-index: 100;

	}
}




/************* END OF HEADER  @media (min-width: 1200px) { ... }*************/




/*********** Start of Rotator ***********/

.image-rotator {

	max-width: 1400px;

	width: 100%;

	margin: auto;

    overflow: hidden;

    display: flex;

    padding: 30px 0px 0px 0px;

    flex-direction: row;

}

.image-link:hover img {

    transform: scale(1.1);

}

.image-link img {

  transition: all 0.5s;

}

.image-link {

    position: relative;

    display: block;

    text-decoration: none !important;

    overflow: hidden;

    border-radius: 6px;

    margin: 0 2px;

}

.image-link::after {

    content: '';

    display: block;

    position: absolute;

    width: 100%;

    height: 100%;

    opacity: 1;

    top: 0;

    left: 0;

    background: linear-gradient(0deg, rgba(27, 27, 27, 0.90) 0%, rgba(255, 255, 255, 0.00) 100%);

    transition: all .2s ease-out;

}

.image-link img {

    width: 100%;

}

.img-rotator-placeholder {

    position: absolute;

    top: 70%;

    width: 100%;

    text-align: center;

    color: white;

    font-size: 17px;

    z-index: 1;

}

.img-rotator-placeholder small {

    display: block;

    font-size: 10px;

}

/*********** End of Rotator ***********/



/*********** Start of Horizonatal Container ***********/

.horizontal-button-container {

	max-width: 1400px;

	width: 100%;

	margin: auto;

	padding-top: 15px;

}



.horizontal-button-container div {

	padding: 0;

}



.horizontal-button-container div:not(:last-child) {

	padding-right: 10px;

}



.horizontal-button-container a {

	font-size: 14px;

	color: white;

	text-align: center;

	text-decoration: none;

	height: 40px;

	width: 100%;

	display: flex;

	justify-content: center;

	align-items: center;

	border-radius: 5px;

}



.horizontal-button-container div:nth-child(even) a {

	background-color: #1b51a6;

}



.horizontal-button-container div:nth-child(odd) a {

	background-color: #df9b00;

}



/*@media only screen and (max-width: 767px) {

	.horizontal-button-container div {

		padding: 5px 10px 5px 10px !important;

	}

}	*/



/*********** End of Horizonatal Container ***********/







/*********** Start of Section 1 ***********/

.section-1 {

	padding-top: 15px;
	height: 10vh;
}



.section-1 .horizontal-btn {

	position: absolute;

	height: 100vh;

	width: 70px;

	display: flex;

	flex-direction: column;

	z-index: 90;

	justify-content: space-around;

	padding-top: 160px;

	top: 670px;

	margin-left: -5px;

}




.section-1 .horizontal-btn a {

	background-color: #df9b00;

	width: 250px;

	border-radius: 8px 8px 0 0;

	transform: translateX(-40%) rotate(90deg);

	text-align: center;

	padding: 10px 0;

	text-decoration: none;

	color: white;

	font-size: 12px;

}



.section-1 .carousel .carousel-inner .carousel-item img {

    height: 100vh;

    object-fit: cover;

    object-position: center;

}



.section-1 .carousel .carousel-control {

	padding-top: 100px;

}



.hcard{
	position: relative;
	z-index: 11;
	left: 40px;
	max-width: 25em;
	box-shadow: 5px 5px 7px -5px;
}





/*********** End of Section 1 ***********/





/*********** Start of loadmore-btn ***********/

.loadmore {
	height: auto;
	overflow: hidden;
}

.loadmore-btn {
	margin-top: 100vh;
	margin-bottom: 50px;
}

/*********** End of loadmore-btn ***********/




/*********** Start of Section Bottom ***********/

.bottom-footer {
	position: static;
	margin-top: 200px;
	padding: 80px 0;
	overflow: auto;
	background-color: #174a9b;

	height: 100%;

}

.bottom-footer .container {

	max-width: 1400px;

	width: 100%;

}

.bottom_box h4 {

    margin: 0 0 30px;

    color: #fff;

    text-transform: uppercase;

    font-size: 20px;

    font-weight: 600;

}

.bottom_box p {

    font-size: 14px;

    color: #ffffff5c;

}

.bottom_box p a {

    color: #ffd765;

}

.bottom_box-sub {

    margin: 40px 0 0;

    display: flex;

    align-items: center;

}

.bottom_box-sub i {

    color: #ffd765;

    font-size: 45px;

    margin: 0 15px 0 0;

}

.bottom_box-sub a, .bottom_box-sub p {

    font-size: 26px;

    font-weight: bold;

    color: #fff;

    margin: 0;

    transition: color 0.3s;

}

.list-unstyled {

    padding-left: 0;

    list-style: none;

}

.bottom_box ul li {

    font-size: 14px;

}

.bottom_box ul li a {

    color: #ffffff5c;

    transition: color 0.3s;

}

.bottom_box ul li a:hover {

    color: #fff;

    text-decoration: none;

}



/*********** End of Section Bottom ***********/



/*********** Start of Footer ***********/

footer {

    background-color: #1c57b5;

    padding: 25px 0;

}

footer .container {

	max-width: 1400px;

	width: 100%;

}

footer p {

    color: #ffffff5c;

    font-size: 14px;

    margin: 0;

}

footer a {

    color: #ffffff5c;

    transition: color 0.3s;

}

footer a:hover {

    color: #fff;

    text-decoration: none;

}

footer .container .row > div {

	margin: auto;

}

.smm {

	margin-bottom: 0;

}

.smm li {

    font-size: 18px;

    margin: 0 7px;

}

.list-inline > li {

    display: inline-block;

    padding-right: 5px;

    padding-left: 5px;

}

@media only screen and (min-width: 768px and max-width: 1300px) {

	footer .container .row > div {

		text-align: center;

	}

	.smm {

		margin-top: 15px;

		text-align: center !important;

	}

}

/*********** End of Footer ***********/



/**John 01/03/22**/

/*********** Start of Alert ***********/

.alert{
	font-family: 'Poppins', sans-serif !important;
}

.alert iframe {
	font-family: 'Poppins', sans-serif !important;
	border: none;
	overflow: hidden;
	width: 100%;
}


/*********** End of Alert ***********/




/*********** Start of news-section ***********/
header .alert{
	margin: 0px;
}
.news-section {
font-size: 12px;
margin: 0;

}

/*********** End of news-section ***********/




/*********** Start of toggle-slide-right ***********/
.slider-container {
position: relative; }
.slider-container .slider-parent {
height: 70vh;
max-width: 250px;
width: 100%;
background: #6C7A89;
position: absolute;
left: -250px;
top: 50px;
visibility: hidden;
opacity: 0;
pointer-events: none;
transition: .2s all linear; }
.slider-container .slider-parent.active {
  visibility: visible;
  pointer-events: inherit;
  transition: .2s all ease-in-out;
  opacity: 1;
  left: 0; }

/*********** Start of toggle-slide-right ***********/






/*********** Start of carousel-indicators ***********/

.carousel-indicators {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

/*********** End of carousel-indicators ***********/




/*********** Start of carouselExampleIndicators ***********/


.darker-span {
  filter: brightness(80%);
}

#carouselExampleIndicators {

	width: 100%;
	margin: -50px auto 50px auto;
	transform: translate(0px, 0px);
    position: relative;
    left: 0px;
    top: 0px;
    bottom: 50px;
    

}


#carouselExampleIndicators video{
	height: 83.5vh;

}


.s4_cap h1 {
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.s4_cap {
	margin: 0px !important;
	bottom: 20px !important;
}
/*********** End of carouselExampleIndicators ***********/




/*********** Start of video ***********/

video {
width: 100%;


}

/*********** End of video ***********/





/*********** Start of carousel-caption ***********/

.carousel-caption {
    position: absolute;
    bottom: 100px;
    color: #fff;
    text-align: right;
    margin-right: 120px;
    filter: brightness(100%);
}


.carousel-caption h1 , .carousel-caption h2 {
	margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2em;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4); 
}



.carousel-caption a {
	color: #fff;
	background: #247edd;
	padding: 5px 30px;
	border-radius: 50px;
	position: relative;
	top: 30px;

}


/*********** End of carousel-caption ***********/





/*********** Start of text transition ***********/


.slide-right {
  animation: slide-right 1s;
}
@keyframes slide-right {
	0% {
	margin-right: 100%;
	opacity:0;
	}
	50% {
	margin-right: 50%;
	opacity:0;
	}
	100% {
	margin-right: 0%;
	opacity:1;
	}
}


.slide-center {
  animation: slide-center;
}
@keyframes slide-center {
	0% {
	text-align: center;
	opacity:0;
	}
	100% {
	text-align: center;
	width: 100%;
	opacity:1;
	}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/*********** End of text transition ***********/




/*********** MEDIA QUIRIES ***********/


.mobile-btn-wrapper{
		
	background-color: #f3f3f3;
	display: none;
}

.mobile-rotator{
	display: none;
}

.horizontal-btn-mobile{
	display: none;
}

.horizontal-button-container-mobile{
	display: none;
}
.horizontal-reg-button-container-mobile{
	display: none;
}
.navbar-fag-mobile {
	display: none;
}

.nav-border-mobile{
	display: none;
}
.reg-btn-mobile{
	display: none;
}

#s1vid_mobile{
	display: none;
}
#s2vid_mobile{
	display: none;
}
#s3vid_mobile{
	display: none;
}
#s4vid_mobile{
	display: none;
}

#s4_text_mobile{
	display: none;
}
#s5vid_mobile{
	display: none;
}
#s7vid_mobile{
	display: none;
}
#s8vid_mobile{
	display: none;
}
#s9vid_mobile{
	display: none;
}
#s12vid_mobile{
	display: none;
}
#s13vid_mobile{
	display: none;
}
#s14vid_mobile{
	display: none;
}
#s15vid_mobile{
	display: none;
}
#s16_text_mobile{
	display: none;
}
#s16vid_mobile{
	display: none;
}

/*.mobile-logo{
	display: none;
}*/



/*********** START OF loadmore para ***********/

.para1 .row div a img{
	width: 100%;
}

.para1 .row div p{
	font-size:14px;
	line-height: 2em;
}

.para2 .row div a img{
	width: 100%;
}

.para2 .row div p{
	font-size:14px;
	line-height: 2em;
}

.para3 .row div a img{
	width: 100%;
}

.para3 .row div p{
	font-size:14px;
	line-height: 2em;
}
/*********** END OF loadmore para ***********/


/*********** START OF loadmore vidtourcarousel ***********/

.vidtourcarousel{
	background: #247edd;
	color:#fff;
	border-radius: 5px 5px 0px 0px;
}

.vidtourcarousel h2{
	padding:5px 5px 0px 20px;
	    
}


/*********** END OF loadmore vidtourcarousel ***********/


.og_content {
	position: static;
	background: #fff;
}


/*.stickydiv {

	position:fixed !important;
	bottom: 50px !important;
	left: 50px !important;
	top: 170px !important;
	transform: translate(-50%,0) !important;
}
*/


/*// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/



/*
VIDEO DIMENSIONS FOR MOBILE (PORTRAIT)

@media 576px
width:  576px;
height: 1728px;

@media 768px

*/




